// Color palette - https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc

header {
  display: flex;
  > nav {
    margin: 0 32px;
    > span {
      padding: 8px;
      > .current {
        color: yellowgreen;
      }
    }
  }
}

main {
  width: 98vw;
  height: 100vh;
  box-sizing: border-box;

  display: flex;

  > aside {
    width: 20%;
    height: 100%;
    box-sizing: border-box;

    & div.tag {
      padding: 8px 12px;
      cursor: pointer;
      width: 50px;
      margin: 4px;
      &.active {
        background-color: #57cc99;
        border-radius: 8px;
      }
    }
  }

  > section {
    width: 60%;
    height: 100%;
    box-sizing: border-box;

    > header {
      display: flex;
      & svg {
        cursor: pointer;
      }
      > form {
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0,0,0,0.1);
        padding: 8px;
        background-color: rgba(0,0,0,.05);
        margin: 8px 0;

        > div {
          cursor: pointer;
        }
        & #colored {
          background-color: rgb(111, 215, 171);
        }
      }
    }

    > form {
      > div {
        > input {
          &:not(:last-child) {
            margin-right: 4px;
          }
        }
      }
    }

    > .topics-list {
      width: 100%;
      box-sizing: border-box;
    }

    & .topic {
      position: relative;
      padding: 8px;
      margin: 16px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 5px #38a3a5;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &::before {
        background-color: #57cc99;
        opacity: 50%;
        content: '';
        filter: blur(4px);
        position: absolute;
        inset: 0;
        z-index: -1;
      }

      > header {
        margin: 16px;
        display: flex;
        align-items: center;

        > svg {
          font-size: 24px;
        }

        > span {
          margin-left: 8px;
          font-weight: 1000;
          font-size: 24px;
        }
      }

      > article {
        padding: 8px 16px;
        font-size: 1.1rem; //16px * 1.1
        text-align: justify;
      }

      > footer {
        margin: 8px;
        display: flex;
        justify-content: end;

        > svg {
          font-size: 20px;
          &:first-child {
            cursor: pointer;
            margin-right: auto;
          }
          &:nth-child(2) {
            margin-right: 8px;
            cursor: pointer;
          }
          &:last-child {
            margin-left: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .block {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 8px 0;
  }
}
